body {
  font-size: 14px;
  line-height: 16px;
  font-family: "Gilroy", sans-serif;
  color: #0D2746;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.flex-row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
